@import url("../styles/main.css");

.navigation {
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    width: fit-content;
    height: fit-content;

        a {
            color: #fff;
            margin: 0.5rem 0;
        }

        input {
            position: inline-block;
            margin: 0;
            width: 60px;
            height: 60px;

                &:checked~ {
                    
                    span{
                    transform: rotate(90deg);
                    }

                    i{
                        height: 200px;
                        transform-origin: top 0.5;
                    }

                    img{
                        display: none;
                    }

                    .menu {
                        width: 2rem;
                        height: 200px;
                        transform-origin: top 0.5;
                    }

                    #footer {
                        display: none;
                    }
                }
            }
        
    span {
        color: #fff;
        marsgin: 10px 0;
        transition: transform 0.5s;
    }
    }

.menu {
    height: 0;

        i {
            display: inline;
        }

        p {
            display: none;
        }

}

#content{
    padding: 0;
}

#mid-layer{
    background-size: 200vh;
    
    h1{
        font-size: 3rem;
    }
}

#first-layer{
    background-size: 15vh;
}