/* Default status */

@font-face {
    font-family: Luna;
    src: url(font/Luna.ttf);
}

html {
    min-height: 100%;
    height: 100%;
    background-image: url("/img/stars.png");
    scrollbar-color:#444444 rgba( 0, 0, 0,0);
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    cursor: default;
}

 ::-webkit-scrollbar {
    width: 0.4rem;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    background: #222;
  }

/* End default  */

.navigation {
    background: #fff;
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.navigation input {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    opacity: 0;
    margin: 0.3em 1em;
}

.navigation span {
    position: absolute;
    color: #3f3f3f;
    pointer-events: none;
    margin: 0.3em 1em;
    padding: 0;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navigation input:checked~.menu {
    width: 10rem;
    transition: 0.5s;
}

.menu-item {
    display: block;
    width: 100%;
    line-height: 2.6rem;
    margin: 30px 0;
    color: #111;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}

.menu-item:hover {
    color: #666;
    border: 3px #666;
    border-style: hidden solid;
    transition: 0.2s;
}

.menu i {
    display: none;
}

.navigation img{
    width: 0;
}

.navigation input:checked~ img{
    display: block;
    margin: auto;
    width: 5rem;
    transition: 0.5s;
    opacity: 0.2;
}

#footer {
    display: none;
    color: #888;
    font-size: 0.9rem;
    text-decoration: none;
}

#footer:hover {
    color: #666;
}

.navigation input:checked~#footer {
    display: block;
    position: absolute;
    bottom: 0;
    transition: 0.5s;

}

#content {
    font-family: "Luna";
    width: 100%;
    height: 100vh;
}

#last-layer{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("img/stars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#mid-layer{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("img/mountain.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
}

#mid-layer h1{
    color: rgba(0, 16, 61, 0.9);
    text-shadow: 1px 1px 9px #fff ;
    font-size: 2.5rem;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

#first-layer{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("img/adventurer.png");
    background-repeat: no-repeat;
    background-size: 15vw;
    background-position-x: left;
    background-position-y: 100%;
}


/* Mobile part */

@media (max-width: 425px) {

    .navigation {
        background-color: rgba(0, 0, 0, 0);
        top: 0;
        width: fit-content;
        height: fit-content;
    }

    .navigation input {
        position: inline-block;
        margin: 0;
        width: 60px;
        height: 60px;
    }

    .navigation span {
        color: #fff;
        margin: 10px 0;
        transition: transform 0.5s;
    }
    .navigation input:checked~ span{
        transform: rotate(90deg);
    }

    .navigation a {
        color: #fff;
        margin: 0.5rem 0;
    }

    .menu {
        height: 0;
    }

    .menu i {
        display: inline;
    }

    .menu p {
        display: none;
    }

    .navigation input:checked~ .menu {
        width: 2rem;
        height: 200px;
        transform-origin: top 0.5;
    }

    .navigation input:checked~ i {
        height: 200px;
        transform-origin: top 0.5;
    }

    .navigation input:checked~ img{
        display: none;
    }

    .navigation input:checked~ #footer {
        display: none;
    }

    #mid-layer{
        background-size: 200vh;
    }
    
    #first-layer{
        background-size: 15vh;

    }

}